@use "./colors.scss" as color;
@use './config.scss' as root;

footer {
    box-sizing: border-box;
    min-height: 300px;
    background: linear-gradient(0deg, color.$bg_main_active 0%, color.$bg_main 100%);
    border-top: solid root.$card_border_thickness color.$bg_dark_outline;
    .footer {
        display: flex;
        justify-content: space-between;
        padding: 2rem;
        @media screen and (max-width: root.$break-m) {
            flex-flow: column-reverse;
            .footer_contact {
                // padding-bottom: 2rem;
            }
        }
        .footer_logo {
            display: flex;
            flex-flow: column;
            @media screen and (max-width: root.$break-m) {
                flex-flow: column-reverse;
            }
            span {
                color: white;
                font-weight: 200;
                text-transform: uppercase;
                font-size: 24px;
                line-height: 1;
                width: fit-content;
            }
            .footer_logo_nav {
                box-sizing: border-box;
                display: flex;
                flex-flow: column;
                padding-block: 2rem 1rem;
                gap: 1rem;
                align-items: start;
                a {
                    margin: 0 !important;
                }
                @media screen and (max-width: root.$break-m) {
                    padding-block: 1rem 2rem;
                    flex-flow: row;
                }
            }
        }
        .footer_contact {
            display: flex;
            flex-flow: column;
            * {
                width: fit-content;
            }
            h3 {
                background: linear-gradient(70deg, #ff6b6b, #4361ee) !important;
                background-clip: text !important;
                color: transparent !important;
            }
            p {
                max-width: 35ch;
            }
        }
    }
}
